.btn-success.glow-button {
    --box-shadow-color: #28a745;
    box-shadow: 0 0 15px 5px var(--box-shadow-color);
}
  
.btn-danger.glow-button {
    --box-shadow-color: #dc3545;
    box-shadow: 0 0 15px 5px var(--box-shadow-color);
}
  
.btn-warning.glow-button {
    --box-shadow-color: #ffc107;
    box-shadow: 0 0 15px 5px var(--box-shadow-color);
}

.btn-purple {
    background-color: purple;
}

.btn-purple:hover {
    background-color: #4b0082; 
}

.btn-purple.glow-button {
    --box-shadow-color: #c507ff;
    box-shadow: 0 0 15px 5px var(--box-shadow-color);
}